<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Company Form</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form>
      <div class="row">
        <!-- Company Name -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Company Name</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Enter company name" />
          </mat-form-field>
        </div>

        <!-- Address -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Address</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <textarea matInput placeholder="Enter address"></textarea>
          </mat-form-field>
        </div>

        <!-- Email -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Email</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="email" placeholder="Enter email" />
          </mat-form-field>
        </div>

        <!-- Phone -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Phone</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="tel" placeholder="Enter phone number" />
          </mat-form-field>
        </div>

        <!-- GSTIN -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">GSTIN</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Enter GSTIN" />
          </mat-form-field>
        </div>

        <!-- State -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">State</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="state">
              <mat-option
                *ngFor="let option of stateList"
                [value]="option.value"
              >
                {{ option.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- State Code -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">State Code</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Enter state code" />
          </mat-form-field>
        </div>

        <!-- Bank Name -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Bank Name</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Enter bank name" />
          </mat-form-field>
        </div>

        <!-- Bank Branch -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Bank Branch</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Enter branch name" />
          </mat-form-field>
        </div>

        <!-- Account Number -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Account Number</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="number" placeholder="Enter account number" />
          </mat-form-field>
        </div>

        <!-- IFSC Code -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">IFSC Code</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Enter IFSC code" />
          </mat-form-field>
        </div>

        <!-- Logo Upload -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Company Logo</mat-label>
          <input
            type="file"
            class="form-control"
            (change)="onFileSelected($event)"
          />
        </div>
      </div>

      <!-- Buttons -->
      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8">Submit</button>
        <button mat-stroked-button color="warn">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
